body {
  margin: 0;
}

header {
  background-image: url("https://10websites-design-to-html-css.netlify.app/restaurant-design/bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  padding: 0px 300px;
}

a {
  color: white;
  text-decoration: none;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;
  font-size: 20px;
}

.logo {
  color: #026e78;
}

.second-nav a {
  background-color: #026e78;
  width: 100%;
  padding: 10px 15px;
}

.active {
  background-color: white !important;
  color: #026e78;
}

.highlight {
  background-color: #013438 !important;
}

.content {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.content h1 {
  background-color: #026e78;
  color: white;
  font-size: 40px;
  padding: 10px;
  display: inline-block;
}

.white-link {
  background-color: white;
  color: #026e78;
  padding: 10px;
  font-size: 20px;
  margin-bottom: 20px;
}

.teal-link {
  background-color: #026e78;
  color: white;
  padding: 10px;
  font-size: 20px;
}
