@import "tailwindcss";
@import url(https://fonts.googleapis.com/css?family=Bai+Jamjuree:200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic);

body {
  background-image: url("../images/bg-header-desktop.png");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Bai Jamjuree", sans-serif;
}

@media (max-width: 500px) {
  body {
    background-image: url("../images/bg-header-mobile.png");
  }
}

.ficon:hover{
  filter: invert(53%) sepia(68%) saturate(434%) hue-rotate(121deg) brightness(101%) contrast(94%);
}