* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fefdf9;
  padding: 0px 70px;
  font-family: Arial, Helvetica, sans-serif;
}

.nav {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav .links {
  display: flex;
  gap: 40px;
}

.nav .links a {
  font-size: 16px;
  color: #5d5f79;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

/* Main */
.main {
  display: flex;
  gap: 30px;
  width: 100%;
  margin-top: 40px;
}

.intro-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 70%;
}

.intro-container img {
  width: 100%;
  height: 250px;
}

.intro-text {
  display: flex;
  gap: 100px;
}

.intro-text h1 {
  width: 150%;
  font-size: 60px;
}

.intro-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.intro-info p {
  font-size: 15px;
}

.intro-info button {
  background-color: #f15e50;
  color: white;
  padding: 10px 40px;
  border: none;
  align-self: flex-start;
  font-size: 15px;
}

.news-container {
  width: 30%;
  background-color: #000019;
  color: white;
  padding: 40px;
}

.news-container h1 {
  color: #e9ab53;
  font-size: 40px;
  margin-bottom: 35px;
}

.news-container .blogs {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.news-container .blog {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-bottom: 1px solid gray;
  padding-bottom: 20px;
}

.news-container .blog h2 {
  font-size: 20px;
}

.features-container {
  display: flex;
  margin-top: 90px;
  justify-content: space-between;
  margin-bottom: 50px;
}

.feature {
  display: flex;
  align-items: center;
}

.feature img {
  width: 110px;
}

.feature-info {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 20px;
}

.feature-info h1 {
  font-size: 25px;
}

.feature-info h2 {
  font-size: 15px;
}

@media all and (max-width: 2560px) {
  body {
    padding: 0px 500px;
  }

  .intro-container img {
    width: 100%;
    height: 400px;
  }
}

@media all and (max-width: 1440px) {
  body {
    padding: 0px 150px;
  }
}

@media all and (max-width: 1024px) {
  body {
    padding: 0px 50px;
  }

  .intro-container img {
    width: 100%;
    height: 300px;
  }

  .intro-text h1 {
    width: 150%;
    font-size: 40px;
  }

  .intro-info p {
    font-size: 12px;
  }

  .news-container {
    padding: 20px;
  }

  .news-container h1 {
    font-size: 30px;
    margin-bottom: 25px;
  }

  .news-container .blogs {
    gap: 30px;
  }
  .news-container .blog h2 {
    font-size: 20px;
  }

  .features-container {
    margin-top: 70px;
  }

  .feature-info {
    gap: 20px;
    padding: 10px;
  }

  .feature img {
    width: 120px;
  }
}

@media all and (max-width: 440px) {
  body {
    padding: 0px 20px;
  }

  .nav {
    flex-direction: column;
    align-items: center;
  }

  .nav .links {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
  }

  .main {
    flex-direction: column;
    gap: 30px;
  }

  .intro-container {
    width: 100%;
    flex-direction: column;
  }

  .intro-container img {
    height: auto;
  }

  .intro-text {
    flex-direction: column;
    gap: 20px;
  }

  .intro-text h1 {
    font-size: 30px;
    width: 100%;
  }

  .intro-info p {
    font-size: 14px;
  }

  .intro-info button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 14px;
  }

  .news-container {
    width: auto;
    padding: 20px;
  }

  .news-container h1 {
    font-size: 30px;
  }

  .features-container {
    flex-direction: column;
    gap: 40px;
  }

  .feature {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .feature img {
    width: auto;
    max-width: 200px;
  }

  .feature-info {
    align-items: center;
    padding: 0;
    gap: 10px;
  }

  .feature-info h1 {
    font-size: 25px;
  }

  .feature-info h2 {
    font-size: 15px;
  }

  .feature-info p {
    text-align: center;
    font-size: small;
  }
}
